@using ESCS.Web.Apps
@{
    Layout = "~/Views/Shared/_LayoutEscs.cshtml";
}


    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
    <link href="~/Scripts/JQuery/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/Modal/jquery.simplemodal.js"></script>
    <script src="~/Scripts/Modal/basic.js"></script>
    <link href="~/layui-v2.5.7/layui/css/layui.css" rel="stylesheet" />

    <div style=" height:23vh;width:100vw;">
        <div style="height: 8vh; width: 15vh; background-color: #ffffff; float: left; margin: 5vh 0 0 19vw; border-radius: 40%; text-align: center; font-size: 35px; font-weight: 600; color: #ff6a00;">
            <p>易购</p>
            <p style="font-size:25px;">YI GOU</p>
        </div>
        <div  style="margin: 6vh 25vw 0 0; float: right; text-align: center; font-size: 20px; font-weight: 600; color: #ff6a00; ">
            <p>修改密码</p>
        </div>
    </div>
    <div style="width:100vw;" >
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal" style=" width: 40vw; height: auto;  margin-left:30vw; ">
        <form class="layui-form" action="">
            <div style=" height: auto; ">
                <div class="layui-form-item">
                    <label class="layui-form-label">原密码：</label>
                    <div class="layui-input-block">
                        <input type="password" id="oldPassword" name="oldPassword" placeholder="请输入" autocomplete="off" class="layui-input">
                        @*<span id="passwd"  onclick="OnJAXBegins()">显示</span>*@
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码：</label>
                    <div class="layui-input-block">
                        <input type="password" id="newPassword" name="newPassword" placeholder="请输入" autocomplete="off" class="layui-input">
                        @*<input type="button" id="passwd" value="显示" onclick="OnJAXBegins() "/>*@
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码：</label>
                    <div class="layui-input-block">
                        <input type="password" id="newPasswords" name="newPasswords" placeholder="请输入" autocomplete="off" class="layui-input">
                        @*<span id="passwd">显示</span>*@
                    </div>
                </div>
                <div style="padding-left:50%;margin-top:50px;">
                    <input type="hidden" name="deliveryTypeId" id="deliveryTypeId" />
                    <input onclick="OnJAXBegin()" value="保存" class="layui-btn layui-btn-radius" style="word-spacing: 15px; " type="button" />
                </div>
            </div>
        </form>
    </div>
        }
    </div>
<div style="height:21vh;"></div>
<script type="text/javascript">
            //密码验证
            function OnJAXBegin() {
                $(function () {
                    var pwd = $("#newPassword").val();
                    var pwds = $("#newPasswords").val();
                    var oldPassword = $("#oldPassword").val();
                    var newPassword = $("#newPassword").val();
                    var newPasswords = $("#newPasswords").val();

                    if (pwd != "" && pwds != "" && pwd != null && pwds != null && oldPassword != "" && oldPassword != null) {
                        if (pwd != pwds) {
                            alert("前后新密码重复输入不正确！");
                        }
                        else {
                            $.ajax({
                                type: "post",
                                url: "/EasyShoppingCentre/ChangePassword",
                                data: { oldPassword: oldPassword, newPassword: newPassword, newPasswords: newPasswords },
                                success: function (data, textStatus) {
                                    alert(data);
                                    if (data == "密码修改成功！！！")
                                    { window.location = "@Url.Content("~/Customer/CustomerLogin")"; }
                                    else { window.location = "@Url.Content("~/EasyShoppingCentre/ChangePassword")"; }

                                    }
                                    })
                                    }
                                    }
                                    else { alert("密码不能为空！"); }

                                    })



                                    }
</script>