
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pay</title>
</head>
<body>
    <div> 
        支付页面
        <button>确认支付</button>
    </div>
</body>
</html>
