
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <div style="height: 60px; background-color: #eae4e4; bottom: 5px; width: 100%; border-bottom-right-radius: 90px; border-bottom-left-radius: 90px;">
        <div style="font-size: 15px; text-align: center;">
            公司电话：&nbsp;12345678912&nbsp;
            &nbsp;公司邮箱：&nbsp;9876543211@qq.com
        </div>
        <div style="font-size: 16px; line-height: 2em;text-align:center;">
            Copyright © 重庆飞渝有限公司 .All Rights Reserved.
        </div>
    </div>
</body>
</html>
