@using ESCS.Web.Apps
@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}
<link href="~/Scripts/JQuery/easyui.css" rel="stylesheet" />
<link href="~/Contents/ViewPage.css" rel="stylesheet" />
<link href="~/Contents/All.css" rel="stylesheet" />
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/Modal/jquery.simplemodal.js"></script>
<script src="~/Scripts/Modal/basic.js"></script>
<script type="text/javascript">
    //密码可视化
    //passwd.onclick = function () {
    //    if (this.innerHTML == '显示') {
    //        this.innerHTML = '隐藏';
    //        show.type = "text";
    //    } else {
    //        this.innerHTML = '显示';
    //        show.type = "password";
    //    }
    //}

    //function OnJAXBegins() {
    //    if ($("#passwd") == "显示") {
    //        $("#passwd").val('隐藏');
    //        oldPassword.type= "text";
    //    } else {
    //        $("#passwd").val('显示');
    //        oldPassword.type = "password";
    //    }

    //}

    //密码验证
    function OnJAXBegin() {
        $(function () {
            var pwd = $("#newPassword").val();
            var pwds = $("#newPasswords").val();
            var oldPassword = $("#oldPassword").val();
            var newPassword = $("#newPassword").val();
            var newPasswords = $("#newPasswords").val();
            
            if (pwd != "" && pwds != "" && pwd != null && pwds != null&&oldPassword!=""&&oldPassword!=null) {
                if (pwd != pwds) {
                    alert("前后新密码重复输入不正确！");
                }
                else {
                        $.ajax({
                            type: "post",
                            url: "ChangePassword",
                            data: { oldPassword: oldPassword, newPassword: newPassword, newPasswords: newPasswords },
                            success: function (data, textStatus) {
                                alert(data);
                                if (data == "密码修改成功！！！")
                                { window.location = "@Url.Content("~/User/Login")"; }
                                else { window.location = "@Url.Content("~/User/ChangePassword")";}

                            }
                        })
                }
            }
            else { alert("密码不能为空！"); }
            
        })



    }
</script>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="position: relative;">
        <h4>密码修改</h4>
        <hr />
        <form class="layui-form" action="">
            <div style="position: absolute; left: 45%; top: 200px; transform: translate(-50%,-50%); width: 25%; height: auto; padding: 20px 70px 30px 0; position: relative; ">
                <div class="layui-form-item">
                    <label class="layui-form-label">原密码：</label>
                    <div class="layui-input-block">
                        <input type="password" id="oldPassword" name="oldPassword" placeholder="请输入" autocomplete="off" class="layui-input" >
                        @*<span id="passwd"  onclick="OnJAXBegins()">显示</span>*@
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码：</label>
                    <div class="layui-input-block">
                        <input type="password" id="newPassword" name="newPassword" placeholder="请输入" autocomplete="off" class="layui-input">
                        @*<input type="button" id="passwd" value="显示" onclick="OnJAXBegins() "/>*@
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码：</label>
                    <div class="layui-input-block">
                        <input type="password" id="newPasswords" name="newPasswords" placeholder="请输入" autocomplete="off" class="layui-input">
                        @*<span id="passwd">显示</span>*@
                    </div>
                </div>
                <div style="padding-left:50%;margin-top:50px;" >
                    <input type="hidden" name="deliveryTypeId" id="deliveryTypeId" />
                    <input type="button" onclick="OnJAXBegin()" value="保存" class="layui-btn layui-btn-radius" style="word-spacing: 15px;width:80px; " />
                </div>
            </div>
        </form>
</div>
}




